/*. is class, # is id*/
/*cant do position absolute on containers - messes up inside definitions*/
/*ALL ELEMENTS MUST HAVE HEIGHT FOR ANY CHILD ELEMENTS TO USE PERCENTAGE SIZE*/

html {
    height: 100%;
	width: 100%;
}
body {
	text-align: center;
	position: relative;
    font-family: source-sans-pro, serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100%;
	width: 100%;
    background-color: #fff;
    overflow: hidden;
	top: 0;
	bottom: 0;
}
/*
#tourPage{
height:100%;
min-height:100%;
}
#tourPage_home{
height:95%;
min-height:95%;
}
*/
#homepage, #tourpage_home, #tourpage/*, #statuelist, #statuedetails*/{
height:100%;
min-height:100%;
  background: url('../img/riverside_home_filtered.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*background color*/
.ui-page { background: #2E2E2E;}

#map-canvas_holder{
	height: 75%;
	width: 90%;
	margin: 0 auto;
	text-align: left;
}
#map-canvas{
	top: 10.5%;
	height: 100%;
	width: 100%;
}
#slideSize{
	/*margin: 10 10 10 10;*/
	height: 40%;
	width: 95%;
	/*max-height: 340px;
	max-width: 300px;
	height: 70%;
	width: 70%;*/
	margin: 0 auto;
	text-align: left;
	padding: 5px;	
}
.flexslider, .flex-viewport, .slides, .clone{
    height:100%;
    width:100%;

}
.flex-direction-nav a::before {
	font-size:35px;
}
/*
.flexslider .slides img  {
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0;
}
*/
#textContainer{
	width: 95%; 
	max-height:35%;
	margin: 0 auto;
	text-align: left;
	overflow: auto;
	background-color:#FFEC9A;
  	border: 2px solid black;
  	/*opacity: 1.0;*/
	opacity: .9;
  	border-radius: 25px;
}

#home_text_container
{
	/*width: 300px; 
	max-height:330px; */
	width: 95%; 
	max-height:60%; 
	margin: 0 auto;
	text-align: left;
	overflow: auto;
	background-color:#FFEC9A;
  	border:2px solid black;
  	/*opacity: 1.0;*/
	opacity: .8;
  	border-radius: 25px;
}

#home_audioContainer
{
	/*bottom: 2px;*/
	bottom: .6%;
	display: table;
    margin: 0 auto;
	text-align: center;
	width: 95%;
	height: 10%;
	position: relative;
}

#audioContainer{
	display: table;
    margin: 0 auto;
	text-align: center;
	width: 95%;
	height: 10%;
	position: relative;
}
#tourhome_audioContainer{
	top: 15px;
	display: table;
    margin: 0 auto;
	text-align: center;
	width: 90%;
	height: 10%;
	position: relative;
}
audio {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: left;
}

#statue_text
{
	margin: 0 auto;
	height: 100%;
	width: 95%;
    padding: 7px; 
    font-family: Helvetica,Arial,sans-serif; 
    font-weight: bold;
    color:black;
}

#home_title
{
	margin: 0 auto;
	height: 100%;
	width: 95%;
    padding: 7px; 
    font-family: Helvetica,Arial,sans-serif; 
    font-weight: bold;
    color:black;
    text-align: center;
}

#home_text
{
	margin: 0 auto;
	height: 100%;
	width: 95%;
    padding: 7px; 
    font-family: Helvetica,Arial,sans-serif; 
    font-weight: bold;
    color:black;
}

#popupBasic-popup
{
	max-width: 85% !important;
	top: 25% !important;
	left: 8% !important;
}

#detail_box
{
	text-align: left;
}
#statuedetails_static_map_img{
	height: 100%;
	width: 100%;
}

#statuedetails_static_map_container{
	height: 120px;
	width: 240px;
}
#statuedetails_address{
	text-decoration:underline;
	text-decoration-color: #3366BB;	
}
#statuedetails_thumb{
	height: 100px;
	width: 75px;
}
#statuedetails_audio_container audio{
	margin-bottom: 10px;
	height: 10%;
	width: 90%;
}
#statuedetails_audio_container{
	height: 15%;
	width: 90%;
}


.button
{
	height: 35px;
	width: 28px;
	font-size: 6px;
}


.ui-header .ui-btn-icon-left .ui-btn-inner
{
	height: 20px;
	padding-left: 3px;
}

.ui-title 
{
    margin: 0.6em 2% 0.8em !important;
}

::-webkit-scrollbar 
{
    width: 8px;
}
 
::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.5); 
}

a {
        word-wrap: break-word !important;
        white-space: normal !important;
}