/*. is class, # is id*/
/*cant do position absolute on containers - messes up inside definitions*/
/*ALL ELEMENTS MUST HAVE HEIGHT FOR ANY CHILD ELEMENTS TO USE PERCENTAGE SIZE*/

html {
    height: 100%;
	width: 100%;
}
body {
	text-align: center;
	position: relative;
    font-family: source-sans-pro, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
	width: 100%;
    background-color: #fff;
    overflow: hidden;
	top: 0;
	bottom: 0;
}
#tourPage{
height:100%;
min-height:100%;
}
#tourPage_home{
height:95%;
min-height:95%;
}
#page1{
height:100%;
min-height:100%;
  background: url('../img/riverside_home.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#map-canvas_holder{
	height: 80%;
	width: 80%;
	margin: 0 auto;
	text-align: left;
}
#map-canvas{
	height: 100%;
	width: 100%;
}
#slideSize{
	/*margin: 10 10 10 10;*/
	height: 340px;
	width: 300px;
	/*max-height: 340px;
	max-width: 300px;
	height: 70%;
	width: 70%;*/
	margin: 0 auto;
	text-align: left;
	padding: 5px;	
}
.flexslider .slides img  {
	height: 380px;
	width: 100%;
	margin: 0; 
	padding: 0;
}
#textContainer{
	width: 300px; 
	max-height:200px; 
	margin: 0 auto;
	text-align: left;
	overflow: auto;
}
#audioContainer{
	display: table;
    margin: 0 auto;
	text-align: center;
	width: 250px;
	height: 50px;
	position: relative;
}
audio {
	width: 250px;
	height: 30px;
	margin: 0 auto;
	text-align: left;
}
#textDisplay{
	margin: 0 auto;
	text-align: left;
	height: 100%;
	width: 100%;
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    float: left;
    /*padding: 5px 10px;*/
    outline: none;
}

#button1
{
	height: 35px;
	width: 28px;
	font-size: 6px;
}


.ui-header .ui-btn-icon-left .ui-btn-inner
{
	height: 20px;
	padding-left: 3px;
}